html,
body
{
   margin: 0;
   padding: 0;
   width: 100%;
   width: 100%;
   overflow-x: hidden;
}

.body 
{
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   padding-top: 147px;
   font-family: "Open Sans", sans-serif;
   font-weight: 400;
   font-style: normal;
   position: relative;
   width: 1920px;
   color: #1F1E1E;
   line-height: 1.375;
   font-size: 16px;
 }


 










 